<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment>

      <UI Id="TestUI">
         <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
         <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
         <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
        <!-- 
         <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
         <Property Id="WixUI_Mode" Value="InstallDir" />

         <DialogRef Id="TestDlg" />
         <Publish Dialog="TestDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish> 
-->
        
      <Property Id="ErrorDialog"><![CDATA[ErrorDlg]]></Property>
      <Property Id="DefaultUIFont"><![CDATA[DlgFont8]]></Property>
        
      <?include Dialogs.wxi?>
     
      <RadioButtonGroup Property="IAgree">
        <RadioButton Text="{\DlgFont8}I &amp;accept the terms in the License Agreement" X="5" Y="0" Width="250" Height="15" Value="Yes" />
        <RadioButton Text="{\DlgFont8}I &amp;do not accept the terms in the License Agreement" X="5" Y="20" Width="250" Height="15" Value="No" />
      </RadioButtonGroup>

      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgFontBold8" FaceName="Tahoma" Size="8" Bold="yes" />
      <TextStyle Id="VerdanaBold13" FaceName="Verdana" Size="13" Bold="yes" />

      <?include Texts.wxi?>
      <?include Errors.wxi?>

      <AdminUISequence>
        <Show Dialog="FatalError" OnExit="error" />
        <Show Dialog="UserExit" OnExit="cancel" />
        <Show Dialog="ExitDialog" OnExit="success" />

        <Show Dialog="PrepareDlg" After="CostInitialize" />
        <Show Dialog="WelcomeDlg" After="CostFinalize"></Show>

      <!--
        <Show Dialog="PrepareDlg" Before="CostInitialize"><![CDATA[]]></Show>
        <Show Dialog="AdminWelcomeDlg" After="CostFinalize" />
        <Show Dialog="ProgressDlg" After="AdminWelcomeDlg" />
        -->
      </AdminUISequence>

      <InstallUISequence>
        <Show Dialog="FatalError" OnExit="error" />
        <Show Dialog="UserExit" OnExit="cancel" />
        <Show Dialog="ExitDialog" OnExit="success" />
        
        <Show Dialog="PrepareDlg" After="LaunchConditions" />
        <Show Dialog="WelcomeDlg" After="MigrateFeatureStates"></Show>
        <!-- <Show Dialog="WelcomeDlg" After="MigrateFeatureStates"><![CDATA[NOT Installed]]></Show> 
        <Show Dialog="ResumeDlg" After="WelcomeDlg"><![CDATA[Installed AND (RESUME OR Preselected)]]></Show>
        <Show Dialog="MaintenanceWelcomeDlg" After="ResumeDlg"><![CDATA[Installed AND NOT RESUME AND NOT Preselected]]></Show> 
        <Show Dialog="ProgressDlg" After="MaintenanceWelcomeDlg" />
        -->
      </InstallUISequence>

      </UI>

   </Fragment>
</Wix>